altgraph==0.17
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
codecov==2.0.22
coverage==5.1
Flask==1.1.2
Flask-SocketIO==4.3.0
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.2
macholib==1.14
MarkupSafe==1.1.1
modulegraph==0.18
more-itertools==8.2.0
numpy==1.18.3
packaging==20.3
pluggy==0.13.1
py==1.8.1
py2app==0.21
pygame==2.0.0.dev6
PyInstaller==3.6
pyparsing==2.4.7
pytest==5.4.1
python-engineio==3.12.1
python-socketio==4.5.1
PyYAML==5.3.1
redis==3.4.1
requests==2.23.0
six==1.14.0
urllib3==1.25.9
visiomode==0.0.1
wcwidth==0.1.9
Werkzeug==1.0.1
