alabaster==0.7.11
atomicwrites==1.1.5
-e git+git@github.com:DuguidLab/carie-controller.git@bb59e22f43928ca8440858934e022c3bf394c166#egg=carie_controller
chardet==3.0.4
docutils==0.14
gpiozero==1.4.1
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.3.0
packaging==18.0
pluggy==0.8.0
py==1.7.0
Pygments==2.2.0
pyparsing==2.2.0
six==1.11.0
snowballstemmer==1.2.1
tox==3.1.3
typed-ast==1.1.0
virtualenv==16.0.0
wrapt==1.10.11
