{% extends "base.html" %}
{% set active_page = "about" %}
{% block title %}About{% endblock %}

{% block content %}
<div class="text-center" style="width: 50%; margin: 5% 25% 0 25%;">
    <h3>About Visiomode</h3>
    </br>
    <p>
        Visiomode was developed by <a href="mailto:Constantinos.Eleftheriou@ed.ac.uk">Constantinos Eleftheriou</a>  in <a href="http://www.duguidlab.com">Ian Duguid's lab</a> at the University of Edinburgh.</br></br>

        I developed Visiomode because I wanted a behavioural solution that was easy to deploy in both freely moving and head-restrained environments, and would allow me to try lots of different behavioural configurations without a whole lot of faff. I hope that you too will find it useful!</br></br>

        If you notice any bugs, or have any suggestions for improvements, please <a href="https://github.com/DuguidLab/visiomode/issues/new">submit an issue</a>.</br></br>

        If you use Visiomode in your research, please cite the following paper:</br>
            Eleftheriou, C., Clarke, T., Poon, V., Zechner, M., & Duguid, I. (2023). Visiomode: An open-source platform for building rodent touchscreen-based behavioral assays. Journal of Neuroscience Methods, 386. https://doi.org/10.1016/j.jneumeth.2022.109779</br></br>

        Visiomode is open-source code, and is released under the <a href="https://opensource.org/licenses/MIT">MIT license</a>. The source code is available on <a href="https://github.com/DuguidLab/visiomode">GitHub</a>. If you would like to contribute to Visiomode, <a href="https://github.com/DuguidLab/visiomode/discussions">please get in touch!</a>
    </p>
  </div>
{% endblock %}
