{% extends "base.html" %}
{% set active_page = "history" %}
{% block title %}History{% endblock %}

{% block content %}
    <div class="card shadow">
        <div class="card-header py-3">
            <p class="text-primary m-0 font-weight-bold">Session History</p>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table  class="table table-hover">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Animal ID</th>
                            <th>Protocol</th>
                            <th>Session Data</th>
                        </tr>
                    </thead>

                    <tbody id="sessionsTable"a></tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="static/js/history.js"></script>
{% endblock %}
