{% extends "base.html" %}
{% set active_page = "settings" %}
{% block title %}Settings{% endblock %}

{% block content %}
<div class="card shadow">
    <div class="card-header py-3">
        <p class="text-primary m-0 font-weight-bold">Protocols</p>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table  class="table table-hover" id="animalsTable">
                <thead>
                    <tr>
                        <th>Protocol name</th>
                        <th>Task</th>
                        <th>Duration (mins)</th>
                        <th>Response device</th>
                        <th>Stimuli</th>
                        <th>Protocol ID</th>
                    </tr>
                </thead>
                <tbody id="protocolsTableData"></tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="updateProtocol" tabindex="-1" role="dialog"
aria-labelledby="addProtocolTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProtocolLongTitle">Edit protocol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form id="protocol-add-form">
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label">Protocol ID</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="id" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label">Protocol name</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="name" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label">Created by</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="created_by" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label">Created on</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="created_on" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label">Last modified</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" id="last_modified" readonly>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group row">
                            <div class="col">
                                <label for="task" >Task</label>
                                    <select id="task" class="custom-select form-control mb-3">
                                        {% for task in tasks %}
                                            <option value="{{ task.get_identifier() }}">{{ task.get_common_name() }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                            <div class="col">
                                <label for="duration">Duration (mins)</label>
                                <input id="duration" class="form-control mb-3"
                                    type="number" value="30"
                                    min="0" step="5">
                            </div>
                        </div>
                        <div id="task-options"></div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="delete-protocol-btn">Delete</button>
                <button type="button" class="btn btn-primary" id="update-protocol-btn">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/js/settings-protocols.js"></script>
{% endblock %}
