<div class="row">
    <div class="col">
        <label for="{{ idx or '' }}period">Period (cycles)</label>
        <input id="{{ idx or '' }}period" class="form-control mb-3"
               type="number" value="30"
               min="1" step="1">
    </div>
    <div class="col">
        <label for="{{ idx or '' }}contrast">Contrast</label>
        <input id="{{ idx or '' }}contrast" class="form-control mb-3"
               type="number" value="1.0"
               min="0.0" max="1.0" step="0.1">
    </div>
</div>
